{% extends "ase_register/base.html" %}
{% block content %}

<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Full Name</td>
            <td>Employee Id</td>
            <td>Date Of Join</td>
            <td>Mobile Number</td>
            <td>
                <a href="{% url 'ase_insert' %}" class="btn btn-outline-success">
                    <i class="fas fa-plus"></i>Add New
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for ase in ase_list %}
            <tr>
                <td>{{ase.fullname}}</td>
                <td>{{ase.emp_code}}</td>
                <td>{{ase.dateoj}}</td>
                <td>{{ase.mobile}}</td>
                <td>
                    <a href="{% url 'ase_update' ase.id %}" class="btn text-secondary px-0">
                        <i class="far fa-edit fa-lg"></i>
                    </a>
                    <form action="{% url 'ase_delete' ase.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn">
                            <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                        </button>
                    </form>

                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}
